#tex images
Latex/ZKP_Images/*

#tex bin files
Latex/Article_ZKP.aux
Latex/Article_ZKP.log
Latex/Article_ZKP.synctex.gz
Latex/Article_ZKP.toc
Latex/Book_ZKP.aux
Latex/Book_ZKP.log
Latex/Book_ZKP.synctex.gz
Latex/Book_ZKP.toc
Latex/proposte_applicative_zkp.aux
Latex/proposte_applicative_zkp.log
Latex/proposte_applicative_zkp.out
Latex/proposte_applicative_zkp.synctex.gz
Latex/proposte_applicative_zkp.toc

#pyZkp
pyZkp/__pycache__/entities.cpython-39.pyc

#mac
.DS_Store
Latex/.DS_Store
pyZkp/.DS_Store