#tex images
Resources/ZKP_Images/*

#tex bin files
Resources/Article_ZKP.aux
Resources/Article_ZKP.log
Resources/Article_ZKP.synctex.gz
Resources/Article_ZKP.toc
Resources/Book_ZKP.aux
Resources/Book_ZKP.log
Resources/Book_ZKP.synctex.gz
Resources/Book_ZKP.toc
Resources/proposte_applicative_zkp.aux
Resources/proposte_applicative_zkp.log
Resources/proposte_applicative_zkp.out
Resources/proposte_applicative_zkp.synctex.gz
Resources/proposte_applicative_zkp.toc

#pyZkp
pyZkp/__pycache__/entities.cpython-39.pyc

#mac
.DS_Store
Latex/.DS_Store
pyZkp/.DS_Store

#zkDApp

#Testing
Testing/Circom0-5-10/node_modules

#Others
.vscode
INGBulletproofs

#PackageLocks
zkDApp/package-lock.json